<h1>Register for Suds2Buds</h1>
<form action="/register" method="post">
    <div>
        <label for="nameRegister">Full Name</label>
        <input id='nameRegister' name ="nameRegister" type="text" placeholder="Email" required>
    </div>
    <div>
        <label for="emailRegister">Email</label>
        <input id='emailRegister' name ="emailRegister" type="email" placeholder="Email" required>
    </div>
    <div>
        <label for="passwordRegister">Password</label>
        <input id='passwordRegister' name ="passwordRegister" type="text" placeholder="Email" required>
    </div>
    <button type='submit' class="button">Register</button>
</form>

<a href ='/login'>Login Here</a>